# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below if in vendor mode)
# /vendor/

# Go workspace folders
bin/
pkg/

# Exercism
**/.exercism
